/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/login/Login.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
/* Login.module.css */

.Login_pageWrapper__qNdes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #6b21a8, #ec4899);
}

.Login_loginContainer__jepPN {
  background-color: white;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  width: 100%;
}

.Login_loginTitle__AefLa {
  text-align: center;
  font-size: 2rem;
  color: #6b21a8;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.Login_inputField__Gwc95 {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #cccccc;
  border-radius: 0.75rem;
  font-size: 1rem;
  outline: none;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.Login_inputField__Gwc95:focus {
  border-color: #9333ea;
}

.Login_errorMessage__fmC_N {
  color: red;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

.Login_loginButton__AlqZp {
  width: 100%;
  padding: 0.6rem 1rem;
  background-color: #9333ea;
  color: white;
  border: none;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Login_loginButton__AlqZp:hover {
  background-color: #7e22ce;
}

.Login_loginFooter__6Wg6E {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #555;
}

.Login_link__IiPy8 {
  color: #6b21a8;
  text-decoration: none;
  font-weight: 500;
}

.Login_link__IiPy8:hover {
  text-decoration: underline;
}

