/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/styles/Navbar.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.Navbar_navbar__2GufN {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  font-family: sans-serif;
}



.Navbar_navbarSection__vtDJJ {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Navbar_center__3FQ_o .Navbar_navItem__GWN7x,
.Navbar_right__hREN_ .Navbar_navItem__GWN7x {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  color: #444;
}

.Navbar_icon__ZWGIh {
  font-size: 1.5rem;
}

.Navbar_facebookLogo__08ERv {
  font-size: 2rem;
  color: #1877f2;
}

.Navbar_searchBar__Hfvhq {
  display: flex;
  align-items: center;
  background: #f0f2f5;
  padding: 0.2rem 0.5rem;
  border-radius: 999px;
}

.Navbar_searchBar__Hfvhq input {
  border: none;
  background: transparent;
  margin-left: 0.5rem;
  outline: none;
}

.Navbar_navItem__GWN7x span {
  font-size: 0.7rem;
}



